home
    h1 The shopsite
    <a id="toCompanyLogin" href="/">To companylogin ></a>

    nav
        ul 
            <li><a href="/">Home</a></li>
            <li><a href="/products">Products</a></li>
            <li><a href="/cLogin">Login</a></li>
            <li><a href="/cRegister">Register</a></li>

    / .slideshow
    /     img class="mySlides" src="/pics/background.jpg" style="width:100%"/
    /     img class="mySlides" src="/pics/background.jpg" style="width:100%"/
    /     img class="mySlides" src="/pics/background.jpg" style="width:100%"/

    /     button class="left" onclick="plusDivs(-1)">&#10094;
    /     button class="right" onclick="plusDivs(1)">&#10095;