 .container
        header
            h1 ShopSite

            nav
                ul 
                    <li><a href="/">Home</a></li>
                    <li><a href="/products">Products</a></li>
                    <li><a href="/">About</a></li>
            
                <a id="toSignUp" href="/csignup"><button>Sign Up</button></a>

            article
                p Buy your products now and get 20% off


        information
            exampleProd
                <a id="p1" href="/"><h4>product</h4></a>
                <a id="p2" href="/"><h4>product</h4></a>
                <a id="p3" href="/"><h4>product</h4></a>
                <a id="p4" href="/"><h4>product</h4></a>
                
        picture
            article
                p Nice products online, find them here

        footer
            p Website made by: William Lönner