.container
        header
            h1 ShopSite

            nav
                ul 
                    <li><a href="/">Home</a></li>
                    <li><a href="/products">Products</a></li>
                    <li><a href="/">About</a></li>
            
            login
                <a id="toLogin" href="/clogin"><button>Login</button></a>
                br
                <a id="toSignUp" href="/csignup"><button>Sign Up</button></a>

            article
                p Buy your products now and get 20% off