body {
    margin:0 auto;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(10, 1fr);
    background: transparent;
}

.container home {
    display: grid;
    grid-column: 1/5;
    grid-row: 1/11;
    grid-template-columns: inherit;
    grid-template-rows: inherit;
    background: transparent;
}

.container home h1 {
    grid-column: 2/4;
    grid-row: 1/2;
}

.container home #toCompanyLogin {
    grid-column: 4/5;
    grid-row: 1/2;
    text-decoration: none;
    color: black;
    margin-left: 230px;
    margin-top: 10px;
    display: inline-block;
    width: 140px;
    height: 20px;
}

.container home #toCompanyLogin:hover {
    color: lightgrey;
}

.container home nav {
    grid-column: 1/5;
    grid-row: 2/3;
}

.container home nav ul {
    list-style-type: none;
    margin: 0;
    padding-left: 590px;
    overflow: hidden;
    background-color: black;
}

.container home nav ul li {
    float: left;
}

.container home nav ul li a {
    display: block;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    color: white;
}

.container home nav ul li a:hover {
    color: lightgrey;
}

/* .container home .slideshow {
    grid-column: 1/5;
    grid-row: 3/8;
}

.container home .slideshow .mySlides {
    display:none;
} */

.container products {
    display: grid;
    grid-column: 1/5;
    grid-row: 1/11;
    grid-template-columns: inherit;
    grid-template-rows: inherit;
    background: transparent;
}

.container products h1 {
    grid-column: 2/4;
    grid-row: 1/2;
}

.container products #toCompanyLogin {
    grid-column: 4/5;
    grid-row: 1/2;
    text-decoration: none;
    color: black;
    margin-left: 230px;
    margin-top: 10px;
    display: inline-block;
    width: 140px;
    height: 20px;
}

.container products #toCompanyLogin:hover {
    color: lightgrey;
}

.container products nav {
    grid-column: 1/5;
    grid-row: 2/3;
}

.container products nav ul {
    list-style-type: none;
    margin: 0;
    padding-left: 590px;
    overflow: hidden;
    background-color: black;
}

.container products nav ul li {
    float: left;
}

.container products nav ul li a {
    display: block;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    color: white;
}

.container products nav ul li a:hover {
    color: lightgrey;
}

.container products product1 {
    display: grid;
    grid-column: 1/2;
    grid-row: 3/8;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(12, 1fr);
}

.container products product1 picture {
    grid-column: 2/8;
    grid-row: 2/8;
    background-color: black;
    border-radius: 15px;
}

.container products product1 #p1Link {
    grid-column: 2/8;
    grid-row: 9/10;
}

.container products product1 form {
    grid-column: 2/8;
    grid-row: 11/12;
}

.container products product1 input[name=p1Amount] {
    width: 100px;
}

.container products product2 {
    display: grid;
    grid-column: 2/3;
    grid-row: 3/8;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(12, 1fr);
}

.container products product2 picture {
    grid-column: 2/8;
    grid-row: 2/8;
    background-color: black;
    border-radius: 15px;
}

.container products product2 #p2Link {
    grid-column: 2/8;
    grid-row: 9/10;
}

.container products product2 form {
    grid-column: 2/8;
    grid-row: 11/12;
}

.container products product2 input[name=p2Amount] {
    width: 100px;
}

.container cLogin {
    display: grid;
    grid-column: 1/5;
    grid-row: 1/11;
    grid-template-columns: inherit;
    grid-template-rows: inherit;
    background: transparent;
}

.container cLogin h1 {
    grid-column: 2/4;
    grid-row: 1/2;
}

.container cLogin #toCompanyLogin {
    grid-column: 4/5;
    grid-row: 1/2;
    text-decoration: none;
    color: black;
    margin-left: 230px;
    margin-top: 10px;
    display: inline-block;
    width: 140px;
    height: 20px;
}

.container cLogin #toCompanyLogin:hover {
    color: lightgrey;
}

.container cLogin nav {
    grid-column: 1/5;
    grid-row: 2/3;
}

.container cLogin nav ul {
    list-style-type: none;
    margin: 0;
    padding-left: 590px;
    overflow: hidden;
    background-color: black;
}

.container cLogin nav ul li {
    float: left;
}

.container cLogin nav ul li a {
    display: block;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    color: white;
}

.container cLogin nav ul li a:hover {
    color: lightgrey;
}

.container cLogin cLoginHeader {
    grid-column: 1/5;
    grid-row: 3/4;
}

.container cLogin form  {
    grid-column: 2/4;
    grid-row: 4/7;
}

.container cLogin input[name=cUsername] {
    width: 500px;
    height: 30px;
    border-radius: 5px;
}

.container cLogin input[name=cPassword] {
    width: 500px;
    height: 30px;
    border-radius: 5px;
}

.container cLogin input[name=signIn] {
    width: 100px;
    height: 30px;
    background-color: black;
    color: white;
    border: none;
}

.container cLogin input[name=signIn]:hover {
    background-color: rgb(35, 35, 35);
}

.container cLogin #cLregister {
    grid-column: 2/4;
    grid-row: 7/8;
    text-decoration: none;
    color: black;
    width: 100px;
    margin-left: 330px;
    height:20px;
}

.container cLogin #cLregister:hover {
    color: gray;
}

.container cRegister {
    display: grid;
    grid-column: 1/5;
    grid-row: 1/11;
    grid-template-columns: inherit;
    grid-template-rows: inherit;
    background: transparent;
}

.container cRegister h1 {
    grid-column: 2/4;
    grid-row: 1/2;
}

.container cRegister #toCompanyLogin {
    grid-column: 4/5;
    grid-row: 1/2;
    text-decoration: none;
    color: black;
    margin-left: 230px;
    margin-top: 10px;
    display: inline-block;
    width: 140px;
    height: 20px;
}

.container cRegister #toCompanyLogin:hover {
    color: lightgrey;
}

.container cRegister nav {
    grid-column: 1/5;
    grid-row: 2/3;
}

.container cRegister nav ul {
    list-style-type: none;
    margin: 0;
    padding-left: 590px;
    overflow: hidden;
    background-color: black;
}

.container cRegister nav ul li {
    float: left;
}

.container cRegister nav ul li a {
    display: block;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    color: white;
}

.container cRegister nav ul li a:hover {
    color: lightgrey;
}

.container cRegister p {
    grid-column: 2/4;
    grid-row: 3/4;
}

.container cRegister form[action=cWho] {
    grid-column: 2/4;
    grid-row: 4/7;
}

.container cRegisterPrivate {
    display: grid;
    grid-column: 1/5;
    grid-row: 1/11;
    grid-template-columns: inherit;
    grid-template-rows: inherit;
    background: transparent;
}

.container cRegisterPrivate h1 {
    grid-column: 2/4;
    grid-row: 1/2;
}

.container cRegisterPrivate #toCompanyLogin {
    grid-column: 4/5;
    grid-row: 1/2;
    text-decoration: none;
    color: black;
    margin-left: 230px;
    margin-top: 10px;
    display: inline-block;
    width: 140px;
    height: 20px;
}

.container cRegisterPrivate #toCompanyLogin:hover {
    color: lightgrey;
}

.container cRegisterPrivate nav {
    grid-column: 1/5;
    grid-row: 2/3;
}

.container cRegisterPrivate nav ul {
    list-style-type: none;
    margin: 0;
    padding-left: 590px;
    overflow: hidden;
    background-color: black;
}

.container cRegisterPrivate nav ul li {
    float: left;
}

.container cRegisterPrivate nav ul li a {
    display: block;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    color: white;
}

.container cRegisterPrivate nav ul li a:hover {
    color: lightgrey;
}

.container cRegisterPrivate form[action=cPrivateN] {
    grid-column: 1/5;
    grid-row: 3/12;
}

.container cRegisterPrivate form[action=cPrivateN] input[type=text] {
    width: 500px;
    height: 30px;
    border-radius: 5px;
}

.container cRegisterPrivate form[action=cPrivateN] input[name=signUpPn] {
    width: 100px;
    height: 30px;
    background-color: black;
    color: white;
    border: none;
}

.container cRegisterPrivate #cBregisterP {
    grid-column: 2/4;
    grid-row: 11/12;
}

.container cRegisterCompany {
    display: grid;
    grid-column: 1/5;
    grid-row: 1/11;
    grid-template-columns: inherit;
    grid-template-rows: inherit;
    background: transparent;
}

.container cRegisterCompany h1 {
    grid-column: 2/4;
    grid-row: 1/2;
}

.container cRegisterCompany #toCompanyLogin {
    grid-column: 4/5;
    grid-row: 1/2;
    text-decoration: none;
    color: black;
    margin-left: 230px;
    margin-top: 10px;
    display: inline-block;
    width: 140px;
    height: 20px;
}

.container cRegisterCompany #toCompanyLogin:hover {
    color: lightgrey;
}

.container cRegisterCompany nav {
    grid-column: 1/5;
    grid-row: 2/3;
}

.container cRegisterCompany nav ul {
    list-style-type: none;
    margin: 0;
    padding-left: 590px;
    overflow: hidden;
    background-color: black;
}

.container cRegisterCompany nav ul li {
    float: left;
}

.container cRegisterCompany nav ul li a {
    display: block;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    color: white;
}

.container cRegisterCompany nav ul li a:hover {
    color: lightgrey;
}

.container cRegisterCompany form[action=cCompanyN] {
    grid-column: 1/5;
    grid-row: 3/12;
}

.container cRegisterCompany form[action=cCompanyN] input[type=text] {
    width: 500px;
    height: 30px;
    border-radius: 5px;
}

.container cRegisterCompany form[action=cCompanyN] input[name=signUpCn] {
    width: 100px;
    height: 30px;
    background-color: black;
    color: white;
    border: none;
}

.container cRegisterCompany #cBregisterC {
    grid-column: 2/4;
    grid-row: 10/12;
}