/* body login {
    
} */

body {
    margin:0 auto;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

body h1 {
    padding: 16px;
}

table {
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    text-align: center;
}

body nav ul {
    list-style-type: none;
    margin: 0;
    padding-left: 600px;
    overflow: hidden;
    background-color: lightgrey;
}

body nav ul li {
    float: left;
}

body nav ul li a {
    display: block;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    color: black;
}

body nav ul li a:hover {
    color: grey;
}